<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C5" version="2.2.4822.42600" targetFramework="net451" />
  <package id="Common.Logging" version="3.0.0" targetFramework="net451" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net451" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net451" />
</packages>